
  <aside class="sidebar" id="sidebar">
    <div class="sb-top"><i class="fa-solid fa-bars sb-btn" id="toggleSidebar"></i></div>

    <nav class="nav">
      <div class="item">
        <a class="link" href="/UDashboard"><i class="fa-solid fa-house"></i><span class="label">Home</span></a>
        <div class="hover-pill">Home</div>
      </div>

      <div class="item has-children" data-accordion>
        <a class="link" href="javascript:void(0)"><i class="fa-solid fa-th-large"></i><span class="label">Dashboard</span></a>
        <div class="hover-pill">Dashboard</div>
        <div class="submenu">
          <a href="" data-page="entryform">Entry Form</a>
          <a href="" data-page="dataf">Reports</a>
          <a href="#">Activity</a>
        </div>
      </div>
      <div class="item has-children" data-accordion>
        <a class="link" href="javascript:void(0)"><i class="fa-regular fa-credit-card"></i><span class="label">Payment</span></a>
        <div class="hover-pill">Payment</div>
        <div class="submenu">
          <a href="#">New Payment</a>
          <a href="#">History</a>
        </div>
      </div>
      <div class="item">
        <a class="link" href="#"><i class="fa-regular fa-envelope"></i><span class="label">Message</span></a>
        <div class="hover-pill">Message</div>
      </div>
      <div class="item">
        <a class="link" href="#"><i class="fa-solid fa-magnifying-glass"></i><span class="label">Search</span></a>
        <div class="hover-pill">Search</div>
      </div>
      <div class="item">
        <a class="link" href="#"><i class="fa-solid fa-shield-halved"></i><span class="label">Privacy</span></a>
        <div class="hover-pill">Privacy</div>
      </div>
    </nav>
    <div class="sb-bottom">
      <div class="profile"><img src="https://i.pravatar.cc/56" alt="Andrea"><span class="label">Andrea</span></div>
      <div class="settings"><i class="fa-solid fa-gear"></i><span class="label">Settings</span></div>
    </div>
  </aside>